<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
    <filter>     
        <filter-name>ResourcesFilter</filter-name>     
        <filter-class>com.kifanle.seedweb.servlet.ResourcesFilter</filter-class>        
    </filter>     
      
    <filter-mapping>     
        <filter-name>ResourcesFilter</filter-name>    
        <url-pattern>/*</url-pattern>     
    </filter-mapping> 
    
	<!-- Processes application requests -->
	<servlet>
		<servlet-name>kifanleServlet</servlet-name>
		<servlet-class>com.kifanle.seedweb.servlet.WebServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
		<init-param>
      		<param-name>requestEncoding</param-name>
      		<param-value>UTF-8</param-value>
    	</init-param>
    	<init-param>
      		<param-name>responseEncoding</param-name>
      		<param-value>UTF-8</param-value>
    	</init-param>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>kifanleServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>
